@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Fira+Sans&family=Poppins:wght@300;400;500;600;700&display=swap');
html{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    display: none;
} 
.smileyFace{
    font-size: 5rem;
}
.img-fluid{
    filter: grayscale(80%);
}
#home{
    background: url('images/background5.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#about{
    /* background: url('images/background.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; */
}
#skills{
    background: url('images/background3.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#portfolio{
    height: 100vh;
}
#contact{
    background: url('images/background.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}


.icon{
    border: solid 1px #666;
    border-radius: 10px;
    padding: 4px;
}
.icon a{
    color: #333;
}

.web-icons{
    font-size: 3rem;
}


/* media query for mobile devices */
@media only screen and (max-width: 1766px){
    
    #skills{
        height: auto;
        background: url('images/background.jpeg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #portfolio{
        height: auto;
    }
}